OPENAI_API_KEY=
DATA_ANALYTICS_PORT=8000
SCRAPER_PORT=8001
APPLICATION_PORT=3000
SCRAPER_SERVICE_URL=http://scraper-service:8001
MCP_STORE_PATH=/data/mcp_store.json
NEXT_PUBLIC_DATA_ANALYTICS_URL=http://localhost:8000
DATA_ANALYTICS_URL=http://data-analytics-server:8000

